<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One:300,400,500,600,700|Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>

<body>
	<div id="root">{{{react}}}</div>

	<script type="text/javascript" src="/js/vendor.min.js"></script>
	<script type="text/javascript" src="/bundle/commons.js"></script>
	<script type="text/javascript" src="/bundle/app.js"></script>
</body>
</html>